body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
}

.wrapper {
    width: 1000px;
    height: 700px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    margin-top: 30px;
    width: 900px;
    height: 300px;
    max-height: 300px;
    min-height: 100px;
    min-width: 300px;
    max-width: 900px;
    border: 1px black solid;
}

.keyboard {
    width: 900px;
    height: 300px;
    border: 2px solid black;
    margin-top: 30px;
}

.keyboard::after {
    content: '';
    display: block;
    clear: both;
}

.k-key {
    width: 50px;
    height: 46px;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    float: left;
    background-color: aliceblue;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k-key:hover {
    cursor: pointer;
    border-radius: 20px;

}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}

.n55 {
    margin-left: 67px;
}

.n58 {
    width: 306px;
}

.active {
    background-color: aqua;
    transition-duration: 0.5s;
    border-radius: 15%;
}